{% load static %}
{% include 'header.html' %}


<main>
    <div class="about-wrapper mt-5">
        <div class="container">
            <div class="d-flex align-items-start inner">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">History of CIS</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Vision & Mission</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Higher Management</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab" tabindex="0">
                        <h3>History of COMSATS Internet Services</h3>
                        <p>It was in the year 1996, when COMSATS launched its ISP services under the name of COMSATS
                            Internet Services (CIS) thus becoming the pioneer Internet Service Provider of Pakistan.
                            COMSATS is an international, inter-Governmental science organization, aiming at
                            socio-economic uplift of the third world through useful applications of science and
                            technology. COMSATS has launched many successful projects which include the most reputed
                            COMSATS Institute of Information Technology (CIIT) and COMSATS Internet Services (CIS).
                            Since its inception CIS has continued to grow and opened up branches in almost all major
                            cities of Pakistan, namely Islamabad/Rawalpindi, Lahore, Karachi, Peshawar, Sialkot,
                            Faisalabad, Multan, Quetta, Gujranwala and Gujrat.
                            <br><br>

                            CIS is the most diversified ISP of Pakistan offering services like Wireless broadband,
                            Domain & web hosting, On-demand broadband, Data Center Services,Video conferencing, Website
                            designing and development, Search Engine Optimization, Virtual Private Servers, Networking,
                            IT training,and internet related research facilities. CIS has a state-of-the-art training
                            center for conducting training events at Islamabad with a variety of courses including CCNA,
                            ITIL v3 Foundation, Microsoft Office, and web development to name a few. CIS has also been a
                            Cisco training partner.
                            <br><br>
                            CIS has the honor of launchinga social service called Comclinic™ which is a Tele-health
                            service offered for the welfare of underprivileged people in different rural areas of
                            Pakistan. COMSATS Tele-health Resource Center Islamabad, linked with Tele-health clinics,
                            provides specialist healthcare consultationsfree of charge.The first ever Tele-health clinic
                            wasset up at Gokina village near PirSohawa, Islamabad, and since then several otherunitshave
                            been established across Pakistan.
                            <br><br>
                            CIS has well-equipped data centers in Islamabad, Lahore & Karachi which offer a variety of
                            services like Virtual Private Servers, Domain Registration, Website Hosting, Colocation of
                            Servers and Rack space to its customers. CIS has also been working on Internet research and
                            development activities to improve the experience of internet community. CIS has launched
                            L-Root Servers in Lahore and Islamabad in a joint venture with the Internet Corporation for
                            Assigned Names and Numbers (ICANN) to help improve the inter-networking efficiency of
                            country’s Internet infrastructure. CIS has become the first ISP in Pakistan to host RIPE
                            Atlas Anchor sponsored by the Asia Pacific Network Information Centre (APNIC) for the real
                            time measurement of Internet connectivity.
                            <br><br>
                            COMSATS Internet Services offers eight brands of services which form ‘The Colors of CIS’.
                            These are Tornado® (Wireless broadband), Hawaii™ (Domain, hosting, and VPS) and COMSpeed™
                            (Optical Fiber Connectivity). Our value added services include Hurricane™ (On-demand
                            broadband), Prism™ (Website development), Viacon™ (Video conferencing), and COM meeting™
                            (web Conferencing Service).
                            <br><br>
                            Our list of clients includes well-known national and international companies and firms,
                            software and business companies, foreign missions, Consulates and Embassies,
                            Non-Governmental Organizations, Universities, social development and research organizations.
                            CIS has over 75,000 customers, a majority of which are corporate entities. New customers are
                            signing up every month for obtaining CIS services.
                        </p>

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <h3>Vision</h3>
                        <p>Our vision is to be in the top three corporate ISPs of Pakistan in terms of quality of
                            service by 2020. We will also contribute to COMSATS mission of using technology for social
                            benefit through programs such as telehealth, software, and training.</p>
                        <h3>Mission</h3>
                        <li>To be in the top 3 corporate ISPs of Pakistan in terms of quality of service by 2020</li>
                        <li>To be the largest telehealth services provider in Pakistan by 2020
                        </li>
                        <li>To provide Internet services that are secure and safe</li>
                        <li>To use technology for social benefit through programs such as telehealth and training
                        </li>
                        <li>To provide service and support which meet customer’s expectations
                        </li>
                        <li>To be in the top 3 corporate ISPs of Pakistan in terms of quality of service by 2020</li>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab" tabindex="0">
                        <h3>HIGHER MANAGEMENT</h3>
                        <ol>
                            <li>Dr. Mohammad Nafees Zakaria (Executive Director
                                COMSATS)</li>
                            <li>Mr. Nasir Jamal Khan (Chief Operating Officer
                                )</li>
                            <li>Mr. Abid Hussain Shah
                                (General Manager (Admin & HR)
                                ) </li>
                            <li>Mr. Mahmood Akhtar (General Manager (Finance & Accounts)
                                )
                            </li>
                            <li>Mr. Abdul Rehman Saeed (General Manager (Technical Corporate)
                                )
                            </li>
                            <li>
                                Mr. Shaukat Hussain Satti (Regional Head (North)
                                )

                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.about-wrapper -->
</main>
{% include 'footer.html' %}