{% load static %}

<div class="container mt-5 mb-3">

    <div class="row">
        <div class="col-md-3">
            <h3 class="cust-header">Services Offered</h3>
            <p class="cust-body">Comclinic™ - Telehealth Clinics<br>
                Hurricane™ - On Demand Broadband<br>
                Viacon™ - Video Conferencing<br>
                Prism® - Software Development<br>
                Comspeed™ - Fiber Connectivity<br>
                Hawaii™ - Website Hosting<br>
                Tornado® - Wireless Broadband<br></p>
        </div>
        <div class="col-md-3">
            <h3 class="cust-header1">Managed Services</h3>
            <p class="cust-body1">Infrastructure Services <br>
                Network Management <br>
                Managed Security Services</p>
        </div>
        <div class="col-md-3">
            <h3 class="cust-header2">Sales & Support</h3>
            <p class="cust-body2">Request Call Back <br>
                Technical Assistance Center</p>
        </div>
        <div class="col-md-3">
            <h3 class="cust-header3">Company <br></h3>
            <p class="cust-body3">About COMSATS Internet Services <br>
                Tenders
                Careers <br></p>
        </div>
    </div>

</div>




<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/675d1b0949e2fd8dfef7a010/1if1r37v2';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>